.md-toolbar-tools > .md-icon-button:first-child {
    margin-right: 16px;
}
md-toolbar h1 {
    font-weight: normal;
}

md-sidenav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
md-sidenav ul md-icon, md-sidenav ul img {
    width: 36px;
    height: 36px;
    margin: auto 1em;
}
md-sidenav p {
    text-align: left;
}
img.rounded {
    border-radius: 50%;
}
div.profile div {
    padding: 0 .75em;
}
div.profile .email {
    font-size: .75em;
    color: #A9A9A9;
}

.analyze {
    margin-left: 1em;
}

.treemap {
    margin:0em;
    width:100%;
    height:800px;
    overflow-x: hidden;
}

.projectList {
    margin-bottom: 1em;
    width:85%;
}

.progressBar {
    margin-top: 1em;
    padding-right: 1em;
}

.appName {
    font-size: 1.3em;
}

.html {
	overflow-x: hidden;
}